<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.8" targetFramework="net472" requireReinstallation="true" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.8" targetFramework="net472" requireReinstallation="true" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.8" targetFramework="net472" requireReinstallation="true" />
  <package id="Microsoft.Extensions.Options" version="10.0.8" targetFramework="net472" requireReinstallation="true" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.8" targetFramework="net472" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="Pipelines.Sockets.Unofficial" version="2.2.16" targetFramework="net472" requireReinstallation="true" />
  <package id="StackExchange.Redis" version="2.13.1" targetFramework="net472" requireReinstallation="true" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net472" requireReinstallation="true" />
  <package id="System.Configuration.ConfigurationManager" version="10.0.8" targetFramework="net472" requireReinstallation="true" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.8" targetFramework="net472" requireReinstallation="true" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Hashing" version="9.0.12" targetFramework="net472" requireReinstallation="true" />
  <package id="System.IO.Pipelines" version="8.0.0" targetFramework="net472" requireReinstallation="true" />
  <package id="System.Memory" version="4.6.3" targetFramework="net472" requireReinstallation="true" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net472" requireReinstallation="true" />
  <package id="System.Runtime.Caching" version="10.0.8" targetFramework="net472" requireReinstallation="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" requireReinstallation="true" />
  <package id="System.Threading.Channels" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net472" requireReinstallation="true" />
  <package id="System.ValueTuple" version="4.6.2" targetFramework="net472" requireReinstallation="true" />
</packages>